body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-pallete-1)

}

:root{
  /* title colors */
  --clr-grey-1: hsl(45, 18%, 50%);
  --clr-grey-2: hsl(45, 52%, 56%);
  /* Text color for quests */
  --clr-white-1: rgb(211, 211, 211);
  --clr-pallete-1: rgb(34, 40, 49);
  --clr-pallete-1-rgba: rgba(34, 40, 49,0.3);
  --clr-pallete-2: rgb(57, 62, 70);
  --clr-pallete-2-rgba: rgba(57, 62, 70,0.6);
  --clr-pallete-3: rgb(250, 243, 243);
  --clr-pallete-3-rgba: rgba(250, 243, 243,0.1);
  --clr-pallete-4: rgb(184, 225, 221);
  /* --clr-pallete-3: rgb(0, 173, 181);
  --clr-pallete-4: rgb(0, 255, 245); */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed{
  color: gray;
  text-decoration: line-through;
}

.objectiveForm{
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.objective{
  color: white;
  margin-left: 2rem;
  font-size: 0.75rem;
  word-break: break-all;
  margin-right: 0.25rem;
  
}
.objective * {
  margin: 0;
}
